<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .footer {
    position: fixed;
    bottom: 10px;
    right: 20px;
    font-size: 14px;
    color: lightgray;
    opacity: 0.7;
}
.footer:hover {
    opacity: 1;
}

    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Helpers</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Find Helpers</h1>
        <form action="/result" method="POST">
            <label for="description">Describe your project and required skills:</label>
            <textarea id="description" name="description" rows="4"></textarea>
            <button type="submit">Find Helpers</button>
        </form>
    </div>
    <div class="footer">
    Made by Aayush
</div>

</body>
</html>
